swagger: '2.0'
info:
  description: defaultDescription
  version: '0.1'
  title: Our-Places-App-api

host: ourplaces.io
basePath: /api/v1
schemes:
  - https

components:
  securitySchemes:
    basicAuth:     # <-- arbitrary name for the security scheme
      type: https
      scheme: basic
security:
  - basicAuth: []

x-google-backend:
  address: https://our-places-app-api-rs-applxgnleq-uc.a.run.app

paths:
  /ping:
    get:
      operationId: "ping"
      summary: To be used to determine if the service is alive
      description: Gives a static response
      security: []
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Definition generated from Swagger Inspector
          schema:
            $ref: '#/definitions/PingResponse'
  /cfg:
    get:
      operationId: "configuration"
      security:
        - basicAuth: ['secret']
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Definition generated from Swagger Inspector
          schema:
            $ref: '#/definitions/Config'
  /hello:
    get:
      operationId: "static_response"
      security:
        - basicAuth: ['secret']
      produces:
        - application/json
      parameters: []
      responses:
        '200':
          description: Definition generated from Swagger Inspector
          schema:
            $ref: '#/definitions/HelloResponse'
  /hello/{name}:
    get:
      operationId: "helloName"
      security:
        - basicAuth: ['secret']
      produces:
        - application/json
      parameters:
        - in: path
          name: name
          required: true
          type: string
      responses:
        '200':
          description: Definition generated from Swagger Inspector
          schema:
            $ref: '#/definitions/HelloResponse'
definitions:
  PingResponse:
    properties:
      status:
        type: string
  Config:
    properties:
      target:
        type: string
      port:
        type: integer
        format: int32
  HelloResponse:
    properties:
      response:
        type: string